@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&family=Montserrat:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
}
.container{
  max-width: 1226px;
  margin: 0 auto;
  padding: 0 20px;
}
body{
  background: white;
}
.btn{
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  padding: 28px 55px;
  border: none;
  background: #BD7048;
  border-radius: 100px;
  cursor: pointer;
}
.bag-btn{
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  background: #BD7048;
  border-radius: 100px;
  column-gap: 12px;
  border: none;
  padding: 14px 35px;
  cursor: pointer;
}

@import "header";
@import "design";
@import "job";
@import "services";
@import "check";
@import "rooms";
@import "test";
@import "question";
@import "footer";
@import "group";
@import "ten";
@import "reel";
@import "plan";
@import "more";
@import "media";
@import "img";
@import "aqua";
@import "work";
@import "bag";
@import "tender";
@import "buy";
@import "watch";
